*{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    font-size: 1rem;
    z-index: 1000;
    /* style={{backgroundImage: "url(../../../public/staic/images/banner.png)"}} */
}

.bg-img-wrap {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 20px;
    /* z-index: 9 */
}
.bg-img-wrap:before {
    content: '';
    background: linear-gradient(
90deg, #431C75 0.73%, rgba(107, 67, 159, 0.9) 44.27%, rgba(126, 84, 182, 0.48) 100%);
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
}